
.yeimi1{
font-family:monospace;
font-size: 20px;
text-align: center;

}
.yeimita
{
background-color:#ffffff;
font-size: 20px;
text-align: center;


}

body{ 

background-image: url(2.PNG);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
 }

 .TABLA{
background-color:#ff7ea8;
text-align: center;


}

 .TABLA1{
background-color:#ffdce7;
text-align: center;


}


