body{ 

background-image: url(MINICIO.JPG);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
 }

  .TABLA{
background-color:#ffffff;
text-align: center;


}

.yeimi1{
background-color:#00ffff;
text-align: center;
}



  .TABLA1{
	
text-align: center;


}




.yeimi4
{


text-align: center;


}





